<% content_for(:page_title) { page_title(element_name: @element.name) } %>

<div id="element-value-form-area">
  <%= render 'form', element: @element, element_value: @element_value %>
</div>

<%= render 'index', element: @element %>
