<% content_for(:page_title){ page_title(section_name: @section.name) } %>

<div class="row">
  <div class="col-sm-12">
    <div class="text-right">
      <%= link_to_with_icon(t("shared.new"), new_section_user_group_path(section_id: @section.id), class: "btn btn-primary", icon: "plus") %>&nbsp;
      <%= link_to_with_icon t(".back_to_section", section_name: @section.name), section_path(@section.id), class: "btn btn-warning", icon: "circle-arrow-left" %>
    </div>
  </div>
</div>
<div id="pagination_list">
  <%= render partial: "list", locals: {user_groups: @user_groups} %>
</div>
