<div id="element-show" class="modal fade modal-element-show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('.title', template: @template.name, element: @element.name) %></h4>
      </div>

      <div id="element-show-body" class="modal-body">
        <div id="modal-message-area"></div>
        <ul>
          <% @element_values.each do |ev| %>
            <li><%= ev.value %></li>
         <% end -%>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t('shared.close') %>
        </button>
      </div>
    </div>
  </div>
</div>


