<div id="vocabulary-element-show" class="modal fade modal-vocabulary-element-show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('.title', element_name: vocabulary_element.name) %></h4>
      </div>

      <div id="element-show-body" class="modal-body">
        <div id="modal-message-area"></div>
        <ul>
          <% vocabulary_element.values.each do |v| %>
            <li><%= v.name %></li>
          <% end -%>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-sign"></span>
          <%= t('shared.close') %>
        </button>
      </div>
    </div>
  </div>
</div>
