<div class="form-group">
  <%= label_tag :element_input_type_id, Element.human_attribute_name(:input_type_id), class: 'col-lg-2 control-label' %>
  <div class="col-lg-3">
    <%= select_tag :element_input_type_id, options_for_select(InputType.order(:id).pluck(:label, :id),element.input_type_id),
      name: "element[input_type_id]",
      class: 'form-control template-input-type static-tooltip-description',
      data: {toggle: "tooltip", placement: "top", 'original-title' => t('.input_type_title')}
    %>
  </div>
</div>
