<div class="form-group">
  <%= label_tag :element_required, Element.human_attribute_name(:required), class: 'col-lg-2 control-label' %>
  <div class="col-lg-3">
    <%= check_box :"element",
        "required",
        checked: element.required,
        class: 'static-tooltip-description',
        data: {toggle: "tooltip", placement: "top", 'original-title' => t('.required_title')}
    %>
  </div>
</div>
