<div class="control-group">
  <div class="col-sm-3">
    <%= text_field_tag "condition[#{element.id}][0][value]", "", class: "form-control input_datepicker" %>
  </div>
  <div class="col-sm-1">
    <p class="form-control-static">〜</p>
  </div>
  <div class="col-sm-3">
    <%= text_field_tag "condition[#{element.id}][1][value]", "", class: "form-control input_datepicker" %>
  </div>
  
</div>